# Игнорируем временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
# Игнорируем файлы IDE
.idea/
.vscode/
# Игнорируем файлы сборки
dist/
build/
# Игнорируем виртуальное окружение
venv/
env/
# Чувствительные данные
*.env
.ipynb_checkpoints/
